NATURALREADORDER  = T
NATURALWRITEORDER = T

SOURCEKIND        = WAVEFORM
SOURCEFORMAT      = WAV
TARGETKIND        = MFCC_E_D_A
SOURCERATE        = 625
TARGETRATE        = 100000
WINDOWSIZE        = 250000
ZMEANSOURCE       = T
USEHAMMING        = T
PREEMCOEF         = 0.97
LOFREQ            = 100
HIFREQ            = 8000
USEPOWER          = F
NUMCHANS          = 35
NUMCEPS           = 13
DELTAWINDOW       = 2
SIMPLEDIFFS       = F
SAVEWITHCRC       = F